.auth-form-container {
    margin-left: 700px;
    padding-top: 200px;
    padding-bottom: 200px;
}
.btn {
        background-color: #808080;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }

.btn:hover {
    background-color: #696969;