{% extends 'frontend/layout.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'frontend/css/index.css' %}">
{% endblock %}
{% block content %}
<div class="features">
    <h2 class="title-gl">Главная страница</h2>
     <section class="description">
         <h3>Фронтенд-разработчик</h3>
            <p class="text">
                Фронтенд-разработчик — это специалист, занимающийся разработкой клиентской части веб-приложений.
                В его обязанности входит создание интерфейсов, которые обеспечивают взаимодействие пользователя с
                веб-сайтом или приложением. Основные технологии, с которыми работает фронтенд-разработчик, включают
                HTML, CSS и JavaScript. Эти языки позволяют создавать структуру, стиль и динамическое поведение
                веб-страниц.

                В последние годы фронтенд-разработка значительно эволюционировала. Появление таких библиотек и
                фреймворков, как React, Angular и Vue.js, изменило подход к созданию пользовательских интерфейсов.
                Эти инструменты позволяют разработчикам создавать более сложные и интерактивные приложения,
                улучшая опыт пользователей.

                Фронтенд-разработчики также должны учитывать кроссбраузерную совместимость, производительность
                и доступность своих приложений. Это означает, что они должны тестировать свои решения на различных
                устройствах и браузерах, а также следить за тем, чтобы их приложения были доступны для людей с
                ограниченными возможностями.

                Важной частью работы фронтенд-разработчика является сотрудничество с дизайнерами и бэкенд-разработчиками.
                Часто фронтендеры работают в команде, где каждый член отвечает за свою область. Поэтому навыки
                коммуникации и командной работы также имеют большое значение.

                Чтобы стать успешным фронтенд-разработчиком, необходимо постоянно учиться и следить за новыми
                тенденциями в области веб-технологий. Участие в профессиональных сообществах, чтение специализированной
                литературы и практическое применение новых знаний помогут развивать навыки и оставаться конкурентоспособным
                на рынке труда.

                В заключение, профессия фронтенд-разработчика является динамичной и многогранной. Она требует как технических,
                так и творческих навыков, что делает ее привлекательной для многих людей. Если вы заинтересованы в создании
                красивых и функциональных веб-приложений, то эта профессия может стать отличным выбором для вас.
            </p>
            <img src="{% static 'frontend/img/frontend-developer.jpg' %}" alt="Фронтенд разработчик" class="main-image">
     </section>
</div>
{% endblock %}