.* {
    box-sizing: border-box;
}

.features {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    margin-left: 400px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-gl {
    font-size: 24px;
    margin-bottom: 20px;
}

.description {
    margin-top: 20px;
}

.text {
    line-height: 1.6;
}

.main-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 10px;
    }

    .features {
        padding: 10px;
    }
}


